.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 44px;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid var(--c-gray-1);
  border-radius: 12px;
  color: var(--c-text-main);
  text-decoration: none;
  transition: all 0.1s ease;
  font-size: inherit;
}

.root:hover {
  background-color: var(--c-gray-0);
  cursor: pointer;
}

.primary {
  background-color: var(--c-primary);
  color: var(--c-white);
}

.primary:hover {
  background-color: var(--c-primary-hover);
  color: var(--c-white);
}

.primary:disabled {
  background-color: var(--c-primary-disabled)
}

.iconWrapper {
  margin-right: 8px;
  line-height: 0;
}

.addRecipe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: auto;
  min-height: 192px;
  padding: 8px;
  background: var(--c-recipe-background);
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.addRecipe:hover {
  transform: scale(1.01);
  background: var(--c-recipe-background);
}

.addRecipe::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  background: url("res/plus.svg");
  background-repeat: no-repeat;
}

.alert {
  color: var(--c-white);
  font-weight: bold;
  background-color: var(--c-alert);
}

.alert:hover {
  background-color: var(--c-alert-hover);
}