.iconWrapper {
  width: 45px;
}

.li {
  list-style: none;
}

.nav__item {
  display: flex;
  align-items: center;
  width: 220px;
  padding: 12px 16px;
  border-radius: 11px;
  text-decoration: none;
  color: var(--c-text-main);
  border: 1px solid transparent;
  transition: border-color 0.1s;
}

.nav__item:hover {
  border-color: var(--c-gray-2);
}

.nav__item_active {
  background-color: var(--c-primary);
  color: var(--c-white);
}

.nav__item_active:hover {
  border: 1px solid transparent; 
  color: var(--c-white);
}