.button {
  margin-top: 30px;
  font-weight: 700;
}

.main {
  background: url(./res/food.png) no-repeat;
  background-position-x: 90%;
  background-size: contain;
  padding: 70px 0;
}

.header {
  font-weight: 800;
  font-size: 3.5em;
}

@media (max-width: 992px) {
  .main {
    background-position-x: 100%;
    background-position-y: 70px;
    background-size: 30%;
  }
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
  }

  .header {
    text-align: center;
    font-size: 3em;
  }

  .text {
    text-align: center;
  }
}
