.statistics {
  margin-top: 27px;
}

.statistics__header {
  margin-bottom: 18px;
}

.statistics__data {
  padding: 5px;
  height: fit-content;
  border: 1px solid var(--c-gray-1) !important;
  border-radius: 12px !important;
}

.macronutrients {
  display: block;
  width: 452px;
  height: 310px;
  margin-right: 90px;
}

.chartSpinnerWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  margin-bottom: 200px;
}

.calendar {
  --moedim-primary: var(--c-primary) !important;
  margin-top: 89px;
}

.headerSpinner {
  margin-left: 0.5rem;
}