@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap");

:root {
  --c-text-main: #131123;
  --c-primary: #283c57;
  --c-primary-hover: #38547a;
  --c-primary-disabled: #496c9d;
  --c-white: #fff;
  --c-gray-0: #f6f8fa;
  --c-gray-1: #eaeef2;
  --c-gray-2: #d0d7de;
  --c-gray-3: #afb8c1;
  --c-gray-4: #8c959f;
  --c-gray-5: #6e7781;
  --c-midnight: #1f2e43;
  --c-recipe-background: #e6e1db;
  --c-alert: #be3001;
  --c-alert-hover: #e93a01;
  --c-success: #04913f;
  --c-success-hover: #05ba51;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--c-text-main);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.flex-wrapper {
  display: flex;
  padding: 0;
}

.flex-wrapper_centered {
  display: flex;
  padding: 0;
  align-items: center;
}

.page-content {
  width: 100%;
  margin-left: 280px;
  padding: 20px 30px;
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.error {
  color: var(--c-alert);
  font-size: 0.9rem;
}
